.root {
    -fx-background-color: #444;
    -fx-accent: #e45708;
    -fx-base: #757575;
}

.label {
    -fx-text-fill: #eee;
}

.button, .radio-button {
    -fx-text-fill: #eee;
}

.radio-button .dot {
  -fx-mark-color: #eee;
}

.tool-bar {
    -fx-background-color: #444;
}

.list-view {
    -fx-background-color: #444;
    -fx-border-width: 1px;
    -fx-border-color: #888;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#db5903 0%, #cf3f03 25%, #c93e12 75%, #bf2a0d 100%);
    -fx-text-fill: #eee;
}

.list-cell {
    -fx-background-color: #888;
    -fx-text-fill: #eee;
}

.list-cell:filled:hover {
    -fx-background-color: #ff6a28;
}

.titled-pane {
    -fx-text-fill: #eee;
}

.titled-pane > *.content {
    -fx-border-radius: 0 0 5 5;
    -fx-border-color: #666;
}

.color-picker {
    -fx-color-label-visible: false;
}

.color-picker .arrow {
    -fx-background-color: #eee;
}

.color-picker .arrow-button {
    -fx-padding: 0px 3px 0px 3px;
}

.combo-box .arrow {
    -fx-background-color: #eee;
}

.combo-box .text-field {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, #888;
    -fx-text-fill: #eee;
}

.combo-box-base {
    -fx-background-color: #888;
}

.combo-box-base .scroll-bar {
    -fx-background-color: #444;
}

.combo-box-base .scroll-bar .decrement-arrow {
    -fx-background-color: #eee;
}

.combo-box-base .scroll-bar .increment-arrow {
    -fx-background-color: #eee;
}

.combo-box-base .scroll-bar .decrement-button {
    -fx-background-color: #444;
}

.combo-box-base .scroll-bar .increment-button {
    -fx-background-color: #444;
}

.combo-box-base .scroll-bar .thumb {
    -fx-background-color: #777;
}

.tab-pane {
    -fx-background: #444;
}

.scroll-pane {
    -fx-background: #666;
    -fx-background-color: transparent;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #aaa;
}

.dialog-pane:header .header-panel .label {
    -fx-text-fill: #111;
    -fx-font-size: 18px;
    -fx-font-weight: 700;
}

.dialog-pane {
    -fx-background-color: #444;
    -fx-text-fill: #eee;
}

.dialog-pane > .button-bar > .container > .button {
    -fx-background-color: #666;
}

.dialog-pane > .button-bar > .container > .button:hover {
    -fx-background-color: #888;
}

.menu-bar {
    -fx-background-color: #888;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #888;
}

.menu-item .label {
    -fx-text-fill: #eee;
}

.tab-pane .tab {
    -fx-background-color: #888;
}

.tab-label {
    -fx-text-fill: #eee;
}

.modal-dialog {
    -fx-background-color: #666;
}